body{
    font-family: 'Roboto Mono';
}
header{
    background-color: #1f2937;
    color: white;
    height: fit-content;
    padding-bottom: 40px;
}

header a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

header .header_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

.header_top_link{
    display: flex;
    gap: 100px;
    font-size: 25px;
}

.header_bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_bottom_text_and_button{
    width: 500px;
}

.header_bottom_text_and_button h1{
    font-size: 58px;
    color: #f9faf8;
    font-weight: bolder;
}
.header_bottom_text_and_button button{
    background-color: #3882f6;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 100px;
    font-size: 19px;
    font-weight: bold;
}

.header_bottom_text_and_button .header_secondary_text{
    font-size: 24px;
}

.box_1,
.box_2,
.box_3,
.box_4{
    height: 200px;
    width: 200px;
    border: #3882f6 4px solid;
    border-radius: 20px;
}

.part_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
}

.cards div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    flex-basis: 200px;
}

.main_body .part_1 h1{
    font-size: 60px;
}